@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@font-face {
    font-family: "Microgramma D Extended";
    src: url(Microgramma\ D\ Extended\ Bold.otf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    /* background-image: url(shaneryan2.png); */
    background-color: #1d191e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    overflow-x: hidden;
}

.disclaimer {
    position: fixed;
    top: 0;
    background-color: #41d154;
    z-index: 99;
    padding: 0.5rem;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.btnDisclaimer {
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    transition: .2s;
}

.btnDisclaimer:hover {
    color: grey;
}

.disclaimer p {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.disclaimer p span {
    font-size: .8rem;
}



nav {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 98;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.863); */
    /* box-shadow: 0 0 20px rgba(255, 255, 255, .2); */
}
nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
}

nav ul {
    margin: 0 7rem;
    display: flex;
    justify-content: flex-end;
}

nav li {
    height: 5rem;
    display: flex;
    padding: 3rem 0;
}

nav a {
    transition: .2s;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav a:hover {
    transition: .2s;
    text-shadow: 0 0 15px rgba(255, 255, 255);
}

nav li:first-child {
    margin-right: auto;
}

svg {
    transition: all .5s ease;
}

svg:hover {
    -webkit-transition: .5s;
    transition: all .5s ease;
    filter: drop-shadow(0 0 5px #fff);
}

.home {
    position: relative;
    width: fit-content;
}

.ghostVid {
    position: absolute;
    top: 46%; /* adjust to position the iframe */
    left: 78%;
    transform: translate(-50%, -50%);
    z-index: 1; /* ensures the iframe is above the image */
    text-align: center;
    color: white;
    font-size: 2rem;
}
.ghostVidMobile {
    position: absolute;
    margin: auto;
    z-index: 1; /* ensures the iframe is above the image */
    text-align: center;
    color: white;
    font-size: 2rem;
}

.videoOverlay {
    transition: .5s;
    border-radius: 2rem;
}

.videoOverlay:hover {
    transition: .5s;
    border: .2rem solid white;
    border-radius: 2rem;
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, .5));
}

h1{
    transition: .2s;
    clip-path: inset(1px 1px -15px 1px);
    font-family: "Microgramma D Extended";
    border-bottom: 0px solid white;
}

.videoOverlay:hover ~ h1{
    color: #e6ffd4;
    transition: .5s;
    text-shadow: 0 0 20px #8dd894;
    border-bottom: .5rem solid #e6ffd4;
    box-shadow: 0 10px 5px -2px;
    box-shadow: 0 0 15px #8dd894; /* note 0 offset values */
    clip-path: inset(1px 1px -15px 1px);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-left: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, .2);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.bgImg {
    display: none;
    z-index: -1;
}

.icon {
    transition: .2s;
    filter: invert();
}

.icon:hover {
    transition: .2s;
    filter: invert() drop-shadow(0 0 10px rgba(255, 255, 255, .2));
}

.content {
    margin-top: -8rem;
    height: 50rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descGhost {
    background: black;
    padding: 5rem 2rem;
    margin: -50rem auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.descGhost img {
    width: 18rem;
    filter: invert();
    margin-left: 15rem;
}

.descGhost p {
    font-size: 2rem;
    /* padding-right: 8rem; */
    line-height: 4rem;
    margin-right: 10rem;
}

.descGhost p span {
    font-size: 1.7rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    padding: 5rem 0;
    width: 100%;
    height: 8rem;
}

.footerName {
    text-decoration: none; 
    color: black;
    transition: .2s;
}

.footerName:hover {
    color: grey;
}

.socials svg {
    height: auto;
    width: 1.5rem;
    padding: 0 5px;
}

.socials svg:hover {
    height: auto;
    width: 2rem;
    padding: 0 5px;
    filter: invert(50%)
}

@media(max-width: 1280px) {

    .bgImg1 {
        object-fit: cover;
        margin-right: auto;
    }
    
    .descGhost {
        flex-direction: column;
    }
    .descGhost img {
        width: 15rem;
        margin-right: 0;
    }
    .descGhost p {
        text-align: center;
        width: 80%;
        margin: 1rem auto;
        padding: 0 2rem;
        font-size: 1.5rem;
        line-height: 3rem;
    }
    .descGhost p span {
        text-align: center;
        font-size: 1.1rem;
    }
}

/* width */
::-webkit-scrollbar {
    width: .9rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1d191e; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

@media (max-width: 750px) {

    nav ul {
        margin: .1rem 0;
    }
    .content {
        margin-top: -3rem;
    }
    .hideOnMobile{
        display: none;
    }
    .menu-button {
        display: flex;
    }
    body {
        background-image: none;
        background-color: #1d191e;
    }
    .bgImg {
        display: block;
        margin: 30px auto auto auto;
    }
    .bgImg1 {
        display: none;
    }
    .descGhost {
        flex-direction: row;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 2rem;
        width: 100%;
        flex-wrap: wrap;
        margin: -18rem 0 0 0;
    }

    .descGhost img {
        margin: 2rem 0 0 0;
        width: 6rem;
    }

    .descGhost p {
        margin: 1rem auto;
        padding: 0 2rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .descGhost p span {
        font-size: .8rem;
    }
    nav li {
        height: 6rem;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
